<div class="channels-browser">
    <div class="channels-browser-header">
        <h1>Browse all <%= @channels.size %> channels</h1>
        <%= link_to new_channel_path do %>
            <div class="button-ok">New Channel</div>
        <% end %>
    </div>
    <div class="channels-list-container">
        <div>
            <p>
            Channels you can join
            </p>
        </div>
        <% @channels.each do |channel| %>
            <% if @user.user_channelships.find_by(channel_id: channel.id).nil? %>
                <%= link_to channel_path(channel) do %>
                    <div class="channels-browser-row">
                        <%= "# #{channel.topic}" %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        <div>
            <p>
            Channels you belong to
            </p>
        </div>
        <% @channels.each do |channel| %>
            <% unless @user.user_channelships.find_by(channel_id: channel.id).nil? %>
                <%= link_to channel_path(channel) do %>
                    <div class="channels-browser-row">
                        <%= "# #{channel.topic}" %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>
