<div class="channels-form-container">
    <div class="channels-form">
        <h2>Create a Channel</h2>
        <%= form_for @channel, remote: true do |f| %>
            <div class="field">
                <%= f.label :topic %><br />
                <%= f.text_field :topic, autofocus: true %>
            </div>
            <div class="actions">
                <%= f.submit "Create Channel", :class => "button-ok"%>
            </div>
        <% end %>
    </div>
</div>
