<!--<div>
  <h1># <%= @channel.topic %></h1>
  <div>
    <% if @channel.messages.any? %>
    <div id="messages" data-channel-id="<%=@channel.id%>">
      <%= render partial: 'messages/message', collection: @channel.messages.includes(:user) %>
    </div>
    <% else %>
    <div class="hidden" id="messages" data-channel-id="<%=@channel.id%>">
      <p>
        Be the First to Chat!
      </p>
    </div>
    <% end %>
  </div>
  <%= render partial: 'messages/message_form', locals: {message: @message, channel: @channel} %>
</div>-->

<div class="client-main-container">
  <header id="client-header">
    <%# <div id="active-channel-name-overlay"></div> %>
    <div class="channel-header">
      <div class="messages-header">
        <div class="channel-title">
          <h2 id="channel-name-container" class="channel-name-container">
          <span id="channel-name" class="channel-name">
            <span id="channel-title">
              #<%= @channel.topic %>
            </span>
          </span>
          <%# <div class="channel-actions-container">                %>
            <%#     <a id="mute-container" class="mute-container"></a> %>
          <%# </div>                                                 %>
          </h2>
          <%# <div id="channel-header-info">                                     %>
            <%#     <div id="star-container" class="star-container"></div>         %>
            <%#     <span class="topic-divider">|</span>                           %>
            <%#     <span id="channel-members-toggle-count"></span>                %>
            <%#     <span id="pinned-count-divider" class="topic-divider">|</span> %>
            <%#     <span id="pinned-item-count"></span>                           %>
            <%#     <span class="topic-divider"></span>                            %>
            <%#     <span id="topic-inline-edit" class="change-topic"></span>      %>
          <%# </div>                                                             %>
        </div>
        <%# <div class="channel-title-info">                  %>
          <%#     <div id="channel-calls-container"></div>      %>
          <%#     <button id="channel-actions-toggle"></button> %>
          <%#     <button id="details-toggle"></button>         %>
          <%#     <div class="divider-bar"></div>               %>
        <%# </div>                                            %>
      </div>
      <%# <div class="flex-header">                                                                                      %>
        <%#     <div id="search-container">                                                                                %>
          <%#         <form id="header-search-form" class="search-form" action="">                                           %>
            <%#             <div class="icon-search-wrap"></div>                                                               %>
            <%#             <input type="text" id="search-terms" class="search-input" placeholder="Search" autocomplete="off"> %>
            <%#             <div class="search-clear-icon-wrap">                                                               %>
              <%#                 <a id="search-clear" class="search-clear-icon"></a>                                            %>
            <%#             </div>                                                                                             %>
          <%#         </form>                                                                                                %>
        <%#     </div>                                                                                                     %>
        <%#     <button id="recent-mentions-toggle"></button>                                                              %>
        <%#     <button id="stars-toggle"></button>                                                                        %>
        <%#     <button id="flex-menu-toggle">                                                                             %>
        <%#         <div id="whats-new-burst"></div>                                                                       %>
        <%#     </button>                                                                                                  %>
        <%#     <button id="whats-new-toggle"></button>                                                                    %>
        <%#     <div id="rxn-toast-div"></div>                                                                             %>
      <%# </div>                                                                                                         %>
    </div>
  </header>
  <div id="client-body" data-channel-id="<%=@channel.id%>">
    <div id="col-messages">
      <div id="footer">
        <%# <div id="footer-overlay"></div> %>
        <div id="footer-msgs">
          <%# <div id="msg-preview">                               %>
            <%#     <div id="msg-preview-msg" class="message"></div> %>
          <%# </div>                                               %>
          <% if not @join %>
          <div>
            <%= link_to "Join Channel", "#{@channel.id}/join_channel", :class => "button-ok", :id => "join-channel-btn"%>
          </div>
          <% else %>
          <div id="messages-input-container">
            <!--
            <%# <a id="primary-file-button" class="file-upload-btn"></a> %>
            <form id="message-form">
              <textarea id="message-input" name=""></textarea>
              <div id="message-input-message"></div>
              <%# <input id="file-upload" type=""> %>
            </form>
            -->
            <%= render partial: 'messages/message_form', locals: {message: @message, channel: @channel} %>
          </div>
          <% end %>
          <%# <div id="notification-bar">                  %>
            <%#     <div id="typing-text"></div>             %>
            <%#     <div id="special-formatting-text"></div> %>
            <%#     <div id="snippet-prompt">                %>
              <%#         <div class="warning"></div>          %>
            <%#     </div>                                   %>
          <%# </div>                                       %>
        </div>
        <%# <div id="footer-archives">                          %>
          <%#     <div id="footer-archives-table">                %>
            <%#         <div id="footer-archives-left">             %>
              <%#             <span id="footer-archives-text"></span> %>
            <%#         </div>                                      %>
            <%#         <div id="footer-archives-right"></div>      %>
          <%#     </div>                                          %>
        <%# </div>                                              %>
      </div>
      <div class="row-fluid">
        <div id="messages-container">
          <%# <div id="unread-msgs-scroller-div"></div> %>
          <%# <div id="archive-msgs-scroller-div">      %>
            <%#     <div id="archives-top-div"></div>     %>
            <%#     <div id="archives-msgs-div"></div>    %>
            <%#     <div id="archives-bottom-div"></div>  %>
          <%# </div>                                    %>
          <div id="msgs-scroller-div">
            <div id="end-div"></div>
            <div id="msgs-div">
              <div class="day-container">
                <div class="day-divider">
                  <%#<div class="day-divider-label">Test Day Divider</div>%>
                </div>
                <% @have_unread = false %>
                <%= render partial: 'messages/message', collection: @channel.messages.includes(:user) %>
              </div>
            </div>
            <%# <div id="msgs-overlay-div"></div> %>
          </div>
          <%# <div id="messages-unread-status"></div> %>
          <%# <div id="file-progress"></div>          %>
          <%# <div id="connection-div"></div>         %>
          <%# <div id="archives-return"></div>        %>
        </div>
      </div>
    </div>
    <%# <div id="col-flex">                                  %>
      <%#     <div id="flex-contents">                         %>
        <%#         <div id="stars-tab" class="panel">           %>
          <%#             <div class="heading"></div>              %>
          <%#             <div id="stars-scroller"></div>          %>
        <%#         </div>                                       %>
        <%#         <div id="mentions-tab" class="panel"></div>  %>
        <%#         <div id="files-tab" class="panel"></div>     %>
        <%#         <div id="team-tab" class="panel"></div>      %>
        <%#         <div id="search-tab" class="panel"></div>    %>
        <%#         <div id="details-tab" class="panel"></div>   %>
        <%#         <div id="downloads-tab" class="panel"></div> %>
        <%#         <div id="whats-new-tab" class="panel"></div> %>
      <%#     </div>                                           %>
    <%# </div>                                               %>
  </div>
</div>
<%= render :partial => 'show.js', locals: {id: @channel.id} %>
