<div class="users-form-container">
    <div class="users-form">
        <h2>Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="actions">
                <%= f.submit "Send", :class => "users-form-submit" %>
            </div>
        <% end %>

        <div class="users-form-links">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
